main {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}
.editcard,
.addcard,
.addstudent{
  display: flex;
  align-items: end;
  justify-content: flex-end;
}
#update_uid,
#addcardbtn,
#addstudentbtn{
  width: fit-content;
  display: flex;
  align-items: end;
  color: #99A5CB;
  border: 1px solid #99A5CB;
}
#update_uid:hover
#addcardbtn:hover,
#addstudentbtn:hover{
  color: #ffffff;
  background: #99A5CB;
  border: 1px solid #99A5CB;
}

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
    border-radius: 12px;
  }
  
  table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
  }
  
  table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
  }
  
  table th,
  table td {
    padding: .625em;
    text-align: center;
    gap: 8px;
  }
  
  table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
#icontable {
    font-size: 18px;
    color: #0a2374;
    cursor: pointer;
}
  @media screen and (max-width: 600px) {
    table {
      border: 0;
    }
  
    table caption {
      font-size: 1.3em;
    }
    
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }
    
    table td::before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    table td:last-child {
      border-bottom: 0;
    }
  }
#editcard,
#addcard,
#editstudent,
#addstudent {
    flex-direction: column;
    background: white;
    border-radius: 12px;
    padding: 1rem;
    width: fit-content;
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin: 2rem;
    transition: all 500ms ease-in-out;
}
.blocktitle{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blocktitle i {
  cursor: pointer;
  font-size: 1.5rem;
}
.information {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
select,input {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #555;
  outline: none;
}

input:focus {
  border-color: #414D75;
  box-shadow: 0 0 0 0.2rem #99A5CB;
}

.birthgen {
  width: 100%;
}

#cef {
  width: 95%;
}
#classe {
  width: 100%;
}
#birthday , #gender {
  width: 46.8%;
}
button {
  color: #ffffff;
  border: none;
  width: fit-content;
  padding: 1rem;
  border-radius: 12px;
  background: #99a5cb;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

button:hover {
  color: #ffffff;
  background: #67749e;
}
.hidden {
  position: absolute;
  bottom: -100% !important;
}
td a {
  justify-content: center;
}
#birthday, #gender {
  width: 46.8%;
}
select {
  width: 100%;
}